#myVideo{position: absolute;width:100%;top: -1000px;}
#pause,#play{position: absolute; bottom: 30px; left: 50%; margin-left: -26px; width: 52px;display: none;}
#pause img,#play img{width: 100%;}
#pause.on,#play.on{display: block;}